<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link href="/main0.css" rel="stylesheet">

</head>
<body class="river-bg">

            <div id="div0">
                <h3>로그인 후 게시판 이용</h3>            
                <a class="loginButton" href="/loginpage" >
                    <button class="btn1" onmouseover="OnMouseIn(this)" onmouseout="OnMouseOut(this)">로그인</button>
                </a>
            </div>

            <script>
                function OnMouseIn(elem) {
                    elem.style.border = "2px solid black"; }
                function OnMouseOut(elem) { 
                    elem.style.border = ""; }
            </script>

            <div id="div1">
                <h3>변경사항</h3>
                <hr>
                    <li>로그인, 회원가입이 가능합니다</li>
                    <li>로그인시, 게시판 이용이 가능합니다</li>
                    <li>글 작성과 수정, 삭제가 가능합니다</li>
            </div>


            <div id="div2">
                <h3 class="glowEffect">바로가기</h3>
                <hr>
                
                    <li> <a href="https://github.com/hyson0807" target="_black
                        ">Hyunsung's github</a>
                    <li> <a href="https://github.com/daminkim99" target="_blank">Elena's github</a>
                    <li> <a href="https://www.google.com" target="_blank">Google</a>
                
            </div> 
</body>
</html>