<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/main.css" rel="stylesheet">

</head>
    <%- include('nav.ejs') %>
    <body class="river-bg">
        <h3> 유저 아이디 정보 : <%= 유저정보.username %> </h3>
    
    
    </body>
</html>

