<div class="nav">
    <a class="logo" href="/sejong">Sejong Main</a>
    <a href="/list/1">세종게시판</a>
    <a href="/write">글쓰기</a>

    <a href="/mypage">내정보</a>

    <a href="/loginpage">로그인</a>
    <a href="/logout">로그아웃</a>
</div>