<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link href="/sejong.css" rel="stylesheet">

</head>
<body class="river-bg">

            <div id="div0">
                <h3>로그인 후 게시판 이용</h3>            
                <a class="loginButton" href="/loginpage" >
                    <button class="btn1">로그인</button>
                </a>
            </div>

            <div id="div1">
                <h3>변경사항</h3>
                <hr>
                    <li>로그인, 회원가입이 가능합니다</li>
                    <li>로그인시, 게시판 이용이 가능합니다</li>
                    <li>글 작성과 수정, 삭제가 가능합니다</li>
            </div>


            <div id="div2">
                <h3 class="glowEffect">세종대학교</h3>
                <hr>
                
                    <li> <a href="http://www.sejong.ac.kr/index.htm" target="_black
                        ">세종대학교 홈페이지</a>
                    <li> <a href="https://ecampus.sejong.ac.kr/" target="_blank">세종대학교 집현캠퍼스</a>
                    <li> <a href="https://library.sejong.ac.kr/index.ax" target="_blank">세종대학교 학술정보원</a>
                
            </div> 
       
    
        
            <div id="div3">
                <h3>학교 식당 메뉴</h3>
                <hr>
                <table>
                    <tbody>
                        <tr><td>학생회관</td><td>라면</td><td>비빔밥</td><td>김치찌개</td><td>우동</td><td>카레</td></tr>
                        <tr><td>군자관</td><td>피자</td><td>파스타</td><td>스테이크</td><td>수프</td><td>빵</td></tr>
                        <tr><td>진관홀</td><td>에비동</td><td>알밥</td><td>설렁탕</td><td>갈비탕</td><td>된장찌깨</td></tr>
                    </tbody>
                </table>
            </div>

            <div id="div4">
                
            </div>
</body>
</html>