.river-bg {
    flex-direction: column;

    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(./media/riverBG.jpg);
  }
#div0 {
    margin: 0 auto;
    margin-top: 70px;
    margin-bottom: 30px;
    height: 150px;
    width:40%;
    border: 1px solid black;
    text-align: center;
}

#div1 {
    margin: 0 auto;
    margin-bottom: 30px;
    width: 40%;
    height: 150px;
    border: 1px solid black;
    text-align: center;
}

#div2 {
    margin: 0 auto;
    margin-bottom: 30px;
    border: 1px solid black;
    height: 150px;
    width: 40%;
    text-align: center;

}
    
#div2 > h3 {
    font-size: 30px;
    margin: 0 auto;
    margin-top: 10px;
    
}


table {
    border-collapse: collapse;
}
td, th {
    text-align: center;
    padding: 10px;
    height: 20px;
    width: 100px;
}  
td {
    border-bottom: 1px solid rgb(201, 186, 21);
}
tbody tr:hover {
background : pink;
}
hr{border:5px solid yellowgreen;}



.btn1 {
  width: 130px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  font-family: 'Lato', sans-serif;
  background: rgb(0,172,238);
  background: linear-gradient(0deg, rgba(0,172,238,1) 0%, rgba(2,126,251,1) 100%);
  line-height: 42px;
  padding: 0;
  border: none;
}